*.o
*.so
*.dll
*.Debug
*.Release
apps-build*/*
moc_*
*.bak
*.user
*-build-*/*
libs/propertyeditor-build-desktop*
Makefile*
TODO
CHANGELOG
*_
*.pro.user.*
bak/
images_all/
report_template_examples/
src/plugins/extended/
